

/*
Page style
*/

body {
	background-color: #F3FFDB;
	font-family: sans-serif;
}

html, body, div {
    width: 100%;
}

/*
span Class style
*/

span.name {
	color: red; 
	font-size: smaller;
	font-style: normal;
}

span.sentenceWords {
	font-style: normal;
	font-weight: bold;
}

span.featureStructure {
	font-style: italic;
	color: gray;
	font-size: smaller;
	text-align: justify;
}

.sentenceAnalisys {
    border: 0px solid black;
    margin: 0px;
    padding: 15px;
}

.tooltiptext{
    display: none;
}

/*
Table style
*/

table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: outset;
    border-color: blue;
    border-collapse: collapse;
    background-color: rgb(225, 250, 150);
    margin: 0 auto;
}
table th {
    border-width: 1px;
    padding: 2px;
    border-style: inset;
    border-color: blue;
    background-color: ;
    -moz-border-radius: ;
}
table td {
    border-width: 1px;
    padding: 2px;
    border-style: inset;
    border-color: blue;
    background-color: ;
    -moz-border-radius: ;
    text-align: center;
}

caption{
    align: top;    
}


/*
Table style
*/
